<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   CityRefreshList.plist
   XianYu

   Created by ZpyZp on 15/10/28.
   Copyright (c) 2015年 berchina. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
